@charset "UTF-8";
@font-face {
  font-family: 'Calibri-BoldItalic';
  src: url("../fonts/calibri/Calibri-BoldItalic.eot");
  src: url("../fonts/calibri/Calibri-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/calibri/Calibri-BoldItalic.woff") format("woff"), url("../fonts/calibri/Calibri-BoldItalic.ttf") format("truetype"), url("../fonts/calibri/Calibri-BoldItalic.svg#Calibri-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Calibri-Bold';
  src: url("../fonts/calibri/Calibri-Bold.eot");
  src: url("../fonts/calibri/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri-Bold.woff2") format("woff2"), url("../fonts/calibri/Calibri-Bold.woff") format("woff"), url("../fonts/calibri/Calibri-Bold.ttf") format("truetype"), url("../fonts/calibri/Calibri-Bold.svg#Calibri-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Calibri-Italic';
  src: url("../fonts/calibri/Calibri-Italic.eot");
  src: url("../fonts/calibri/Calibri-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri-Italic.woff2") format("woff2"), url("../fonts/calibri/Calibri-Italic.woff") format("woff"), url("../fonts/calibri/Calibri-Italic.ttf") format("truetype"), url("../fonts/calibri/Calibri-Italic.svg#Calibri-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/calibri/Calibri.eot");
  src: url("../fonts/calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri.woff2") format("woff2"), url("../fonts/calibri/Calibri.woff") format("woff"), url("../fonts/calibri/Calibri.ttf") format("truetype"), url("../fonts/calibri/Calibri.svg#Calibri") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText-BoldItalic';
  src: url("../fonts/neutra/NeutraText-BoldItalic.eot");
  src: url("../fonts/neutra/NeutraText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-BoldItalic.woff2") format("woff2"), url("../fonts/neutra/NeutraText-BoldItalic.woff") format("woff"), url("../fonts/neutra/NeutraText-BoldItalic.ttf") format("truetype"), url("../fonts/neutra/NeutraText-BoldItalic.svg#NeutraText-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText-Book';
  src: url("../fonts/neutra/NeutraText-Book.eot");
  src: url("../fonts/neutra/NeutraText-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-Book.woff2") format("woff2"), url("../fonts/neutra/NeutraText-Book.woff") format("woff"), url("../fonts/neutra/NeutraText-Book.ttf") format("truetype"), url("../fonts/neutra/NeutraText-Book.svg#NeutraText-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText-BookItalic';
  src: url("../fonts/neutra/NeutraText-BookItalic.eot");
  src: url("../fonts/neutra/NeutraText-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-BookItalic.woff2") format("woff2"), url("../fonts/neutra/NeutraText-BookItalic.woff") format("woff"), url("../fonts/neutra/NeutraText-BookItalic.ttf") format("truetype"), url("../fonts/neutra/NeutraText-BookItalic.svg#NeutraText-BookItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText-Demi';
  src: url("../fonts/neutra/NeutraText-Demi.eot");
  src: url("../fonts/neutra/NeutraText-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-Demi.woff2") format("woff2"), url("../fonts/neutra/NeutraText-Demi.woff") format("woff"), url("../fonts/neutra/NeutraText-Demi.ttf") format("truetype"), url("../fonts/neutra/NeutraText-Demi.svg#NeutraText-Demi") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraText-DemiItalic';
  src: url("../fonts/neutra/NeutraText-DemiItalic.eot");
  src: url("../fonts/neutra/NeutraText-DemiItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-DemiItalic.woff2") format("woff2"), url("../fonts/neutra/NeutraText-DemiItalic.woff") format("woff"), url("../fonts/neutra/NeutraText-DemiItalic.ttf") format("truetype"), url("../fonts/neutra/NeutraText-DemiItalic.svg#NeutraText-DemiItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraTextTF-Bold';
  src: url("../fonts/neutra/NeutraTextTF-Bold.eot");
  src: url("../fonts/neutra/NeutraTextTF-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraTextTF-Bold.woff2") format("woff2"), url("../fonts/neutra/NeutraTextTF-Bold.woff") format("woff"), url("../fonts/neutra/NeutraTextTF-Bold.ttf") format("truetype"), url("../fonts/neutra/NeutraTextTF-Bold.svg#NeutraTextTF-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  height: 100%; }

body {
  font-family: 'NeutraText-Book'; }

a:hover, a:focus, a:active {
  text-decoration: none; }

.form-control,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group .navber,
.btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase; }

.modal-content {
  border-radius: 0; }

/* 
========================================================
Center vertical */
.va-block {
  display: table;
  height: 100%;
  width: 100%; }

.va-middle,
.va-bottom {
  display: table-cell; }

.va-middle {
  vertical-align: middle; }

.va-bottom {
  vertical-align: bottom; }

/* 
========================================================
Padding helpers */
.p-a-0 {
  padding: 0px !important; }

.p-t-0 {
  padding-top: 0px !important; }

.p-r-0 {
  padding-right: 0px !important; }

.p-b-0 {
  padding-bottom: 0px !important; }

.p-l-0 {
  padding-left: 0px !important; }

.p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.p-y-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.p-a-1 {
  padding: 5px !important; }

.p-t-1 {
  padding-top: 5px !important; }

.p-r-1 {
  padding-right: 5px !important; }

.p-b-1 {
  padding-bottom: 5px !important; }

.p-l-1 {
  padding-left: 5px !important; }

.p-x-1 {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.p-y-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.p-a-2 {
  padding: 10px !important; }

.p-t-2 {
  padding-top: 10px !important; }

.p-r-2 {
  padding-right: 10px !important; }

.p-b-2 {
  padding-bottom: 10px !important; }

.p-l-2 {
  padding-left: 10px !important; }

.p-x-2 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.p-y-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-a-3 {
  padding: 15px !important; }

.p-t-3 {
  padding-top: 15px !important; }

.p-r-3 {
  padding-right: 15px !important; }

.p-b-3 {
  padding-bottom: 15px !important; }

.p-l-3 {
  padding-left: 15px !important; }

.p-x-3 {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.p-y-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.p-a-4 {
  padding: 20px !important; }

.p-t-4 {
  padding-top: 20px !important; }

.p-r-4 {
  padding-right: 20px !important; }

.p-b-4 {
  padding-bottom: 20px !important; }

.p-l-4 {
  padding-left: 20px !important; }

.p-x-4 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.p-y-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-a-5 {
  padding: 25px !important; }

.p-t-5 {
  padding-top: 25px !important; }

.p-r-5 {
  padding-right: 25px !important; }

.p-b-5 {
  padding-bottom: 25px !important; }

.p-l-5 {
  padding-left: 25px !important; }

.p-x-5 {
  padding-left: 25px !important;
  padding-right: 25px !important; }

.p-y-5 {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.p-a-6 {
  padding: 30px !important; }

.p-t-6 {
  padding-top: 30px !important; }

.p-r-6 {
  padding-right: 30px !important; }

.p-b-6 {
  padding-bottom: 30px !important; }

.p-l-6 {
  padding-left: 30px !important; }

.p-x-6 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.p-y-6 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

/* 
========================================================
Margin helpers*/
.m-a-0 {
  margin: 0px !important; }

.m-t-0 {
  margin-top: 0px !important; }

.m-r-0 {
  margin-right: 0px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.m-l-0 {
  margin-left: 0px !important; }

.m-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.m-y-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.m-a-1 {
  margin: 5px !important; }

.m-t-1 {
  margin-top: 5px !important; }

.m-r-1 {
  margin-right: 5px !important; }

.m-b-1 {
  margin-bottom: 5px !important; }

.m-l-1 {
  margin-left: 5px !important; }

.m-x-1 {
  margin-left: 5px !important;
  margin-right: 5px !important; }

.m-y-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.m-a-2 {
  margin: 10px !important; }

.m-t-2 {
  margin-top: 10px !important; }

.m-r-2 {
  margin-right: 10px !important; }

.m-b-2 {
  margin-bottom: 10px !important; }

.m-l-2 {
  margin-left: 10px !important; }

.m-x-2 {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.m-y-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-a-3 {
  margin: 15px !important; }

.m-t-3 {
  margin-top: 15px !important; }

.m-r-3 {
  margin-right: 15px !important; }

.m-b-3 {
  margin-bottom: 15px !important; }

.m-l-3 {
  margin-left: 15px !important; }

.m-x-3 {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.m-y-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.m-a-4 {
  margin: 20px !important; }

.m-t-4 {
  margin-top: 20px !important; }

.m-r-4 {
  margin-right: 20px !important; }

.m-b-4 {
  margin-bottom: 20px !important; }

.m-l-4 {
  margin-left: 20px !important; }

.m-x-4 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.m-y-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-a-5 {
  margin: 25px !important; }

.m-t-5 {
  margin-top: 25px !important; }

.m-r-5 {
  margin-right: 25px !important; }

.m-b-5 {
  margin-bottom: 25px !important; }

.m-l-5 {
  margin-left: 25px !important; }

.m-x-5 {
  margin-left: 25px !important;
  margin-right: 25px !important; }

.m-y-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.m-a-6 {
  margin: 30px !important; }

.m-t-6 {
  margin-top: 30px !important; }

.m-r-6 {
  margin-right: 30px !important; }

.m-b-6 {
  margin-bottom: 30px !important; }

.m-l-6 {
  margin-left: 30px !important; }

.m-x-6 {
  margin-left: 30px !important;
  margin-right: 30px !important; }

.m-y-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.w-100 {
  width: 100%; }

/* 
========================================================
Font family*/
.text-calibri {
  font-family: 'Calibri'; }

.text-NeutraTextTF {
  font-family: 'NeutraTextTF-Bold'; }

/* 
========================================================
btn */
.btn-default {
  color: #000; }
  .btn-default--border {
    border: 2px solid #333;
    font-size: 22px; }
  .btn-default__black {
    background-color: #333;
    border-color: #333;
    color: #fff; }

.play-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background: url(../../assets/img/play-icon.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease; }

.social-icon a {
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: #666;
  color: #fff;
  border-radius: 50%;
  display: inline-block; }
  .social-icon a:hover {
    background-color: #777; }

@media (max-width: 470px) {
  .col-xss-12 {
    width: 100%; } }

.t-ease, .films-gallery a:after {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.t-ease-fast {
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }

.animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1; }

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0; }

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.blog-cover {
  background-color: #666;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; }
  .blog-cover--blog {
    height: 345px;
    margin-bottom: 30px; }

.card__blog__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11; }
  .card__blog__link:before {
    bottom: 0;
    content: "";
    display: block;
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: -moz-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .card__blog__link--black:before {
    height: 100%;
    background: rgba(0, 0, 0, 0.24) !important; }

.blog-cover__content, .blog-cover__content a {
  display: block;
  color: #fff !important;
  position: relative;
  z-index: 11; }

.main__blog p {
  font-family: 'Calibri';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px; }

.main__blog__foter .blog-cover {
  height: 250px; }

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #1c1c1c; }
  .navbar .navbar-brand {
    padding: 10px 15px; }
    .navbar .navbar-brand > img {
      height: 30px; }
  @media (min-width: 768px) {
    .navbar {
      min-height: 70px; }
      .navbar .navbar-brand {
        padding: 18px 20px;
        height: 70px; }
        .navbar .navbar-brand > img {
          height: 35px; } }
  .navbar a {
    text-transform: uppercase; }
  @media (max-width: 767px) {
    .navbar {
      background-color: rgba(28, 28, 28, 0.82); }
      .navbar .navbar-nav > li > a {
        font-weight: bold;
        color: #ddd; } }
  .navbar__scrolled {
    border-color: transparent;
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.19); }
    .navbar__scrolled .gotoTop {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      color: #333;
      padding: 0 25px; }
    .navbar__scrolled .caret {
      border-top: 12px dashed;
      border-top: 12px solid \9;
      border-right: 12px solid transparent;
      border-left: 12px solid transparent; }

.nav-owl {
  width: 800px;
  float: right;
  height: 70px;
  line-height: 70px;
  margin: 0 30px; }
  @media (max-width: 1150px) {
    .nav-owl {
      width: 400px; } }
  .nav-owl__link {
    color: #fff !important;
    display: block;
    text-align: center; }
    .nav-owl__link--text {
      width: 100px; }
    .nav-owl__link--announcements {
      width: 150px; }
    .nav-owl__link--film {
      width: 133px;
      background: url(../../assets/img/Films.png);
      background-size: 60px; }
    .nav-owl__link--about {
      width: 133px;
      background: url(../../assets/img/About.png);
      background-size: 70px; }
    .nav-owl__link--contact {
      width: 133px;
      background: url(../../assets/img/Contact.png);
      background-size: 90px; }
    .nav-owl__link--announcements {
      width: 250px;
      background: url(../../assets/img/Announcements.png);
      background-size: 200px; }
    .nav-owl__link--cinema-76 {
      width: 50px;
      background: url(../../assets/img/CInema-76.png);
      background-size: 26px; }
    .nav-owl__link--cinema-tropa {
      width: 100px;
      background: url(../../assets/img/Cinetropa.png);
      background-size: 80px; }
    .nav-owl__link--img {
      height: 70px;
      background-repeat: no-repeat;
      background-position: center center; }
  .nav-owl .owl-prev,
  .nav-owl .owl-next {
    position: absolute;
    top: 0;
    padding: 0 10px; }
    .nav-owl .owl-prev img,
    .nav-owl .owl-next img {
      height: 20px;
      position: relative;
      top: -2px; }
    .nav-owl .owl-prev.disabled,
    .nav-owl .owl-next.disabled {
      display: none; }
  .nav-owl .owl-prev {
    left: -20px; }
  .nav-owl .owl-next {
    right: -20px; }
  @media (max-width: 767px) {
    .nav-owl {
      float: none;
      margin: 0 15px; } }

.footer {
  background-color: #1c1c1c;
  padding: 50px 0;
  color: #fafafa; }
  .footer__mid {
    max-width: 290px; }
  .footer__social {
    margin: 25px 0; }
    .footer__social__item {
      float: left;
      width: 25%; }
      .footer__social__item__link {
        color: #fff !important;
        width: 46px;
        height: 46px;
        line-height: 46px;
        border-radius: 50%;
        display: block;
        background: rgba(255, 255, 255, 0.2);
        text-align: center;
        font-size: 20px;
        margin: 0 auto; }
  .footer .form-group {
    padding-left: 50px;
    background: url(../../assets/img/mail-icon.png) no-repeat 1px 1px;
    background-size: 33px 24px; }
    .footer .form-group .form-control {
      border: 0;
      height: 26px; }
  .footer hr {
    border-color: rgba(255, 255, 255, 0.18);
    margin: 20px 0 30px 0; }
  .footer #map {
    height: 150px;
    width: 100%; }
  @media (max-width: 767px) {
    .footer {
      text-align: center;
      padding: 30px 0; }
      .footer .container {
        max-width: 500px; }
      .footer .footer__mid {
        margin-top: 50px;
        margin-bottom: 50px; }
      .footer #map {
        margin-top: 20px; } }

/* Set Default */
main {
  padding-top: 100px; }
  @media (max-width: 767px) {
    main {
      padding-top: 70px; } }

@media (min-width: 992px) {
  #modalTrailer .modal-lg {
    width: 1170px; } }

.film-categ {
  padding-top: 20px; }
  .film-categ__item__link {
    color: #adadad;
    font-size: 20px;
    border-right: 1px solid #ddd;
    padding-right: 20px; }
    .film-categ__item__link--active {
      color: #333 !important;
      font-weight: bold; }
    .film-categ__item__link:not(.film-categ__item__link--active):hover {
      color: #d3b764 !important; }
  .film-categ__item:nth-child(3) .film-categ__item__link {
    border-right: 0; }

.film-trailers-owl__item, .trailer__block {
  position: relative;
  display: block; }
  .film-trailers-owl__item__play, .trailer__block__play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .film-trailers-owl__item__play .play-icon, .trailer__block__play .play-icon {
      margin-top: 150px; }
      @media (max-width: 991px) {
        .film-trailers-owl__item__play .play-icon, .trailer__block__play .play-icon {
          margin-top: 120px;
          -ms-transform: scale(0.8, 0.8);
          -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8); } }
      @media (max-width: 480px) {
        .film-trailers-owl__item__play .play-icon, .trailer__block__play .play-icon {
          margin-top: 70px;
          -ms-transform: scale(0.5, 0.5);
          -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5); } }
    @media (min-width: 480px) {
      .film-trailers-owl__item__play:hover .play-icon, .trailer__block__play:hover .play-icon, .film-trailers-owl__item__play:active .play-icon, .trailer__block__play:active .play-icon, .film-trailers-owl__item__play:focus .play-icon, .trailer__block__play:focus .play-icon {
        -ms-transform: scale(1.3, 1.3);
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3); } }

/* End Set Default */
.header-title {
  text-align: center;
  margin-bottom: 15px; }
  .header-title__tag {
    display: inline-block;
    font-family: 'NeutraText-Demi';
    letter-spacing: 5px;
    font-size: 26px;
    background: #e0cd96;
    background: -moz-linear-gradient(left, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
    background: -webkit-linear-gradient(left, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
    background: -webkit-gradient(linear, left top, right top, from(#e0cd96), color-stop(50%, #a78230), to(#e0cd96));
    background: -o-linear-gradient(left, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
    background: linear-gradient(to right, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0cd96', endColorstr='#e0cd96',GradientType=1 );
    background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent; }
    @media (min-width: 769px) {
      .header-title__tag:before, .header-title__tag:after {
        content: "";
        display: block;
        height: 30px;
        position: relative;
        top: -3px; }
      .header-title__tag:before {
        background: url(../../assets/img/left-arrow-title.png) no-repeat 0px 8px;
        background-size: 180px 18px;
        width: 180px;
        float: left;
        left: -12px; }
      .header-title__tag:after {
        background: url(../../assets/img/right-arrow-title.png) no-repeat 0px 8px;
        background-size: 180px 18px;
        width: 180px;
        float: right;
        right: -12px; } }
    .header-title__tag img {
      width: 180px;
      position: relative;
      top: -3px;
      margin: 0 15px; }
      @media (max-width: 991px) {
        .header-title__tag img {
          width: 140px; } }
      @media (max-width: 767px) {
        .header-title__tag img {
          display: none; } }
    .header-title__tag--no-feather:before, .header-title__tag--no-feather:after {
      content: none; }
  @media (min-width: 768px) {
    .header-title {
      margin: 30px 0; } }

/* Homepage */
.fotorama--homepage {
  background: #1c1c1c; }
  @media (max-width: 767px) {
    .fotorama--homepage {
      padding-top: 50px; } }
  .fotorama--homepage .fotorama__wrap--video .fotorama__video-close {
    background: url(http://avidaland.com/assets/img/fotorama-close.png) no-repeat;
    top: 85px;
    right: 30px;
    width: 70px;
    height: 70px;
    -webkit-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); }
    @media (max-width: 412px) {
      .fotorama--homepage .fotorama__wrap--video .fotorama__video-close {
        top: 50px;
        -webkit-transform: scale(0.3, 0.3);
        -ms-transform: scale(0.3, 0.3);
        transform: scale(0.3, 0.3); } }
  .fotorama--homepage .fotorama__dot {
    width: 14px !important;
    height: 14px !important;
    border-radius: 100% !important;
    border-color: #fff;
    border-width: 2px; }
  .fotorama--homepage .fotorama__nav__frame.fotorama__active .fotorama__dot {
    background: #fff; }
  .fotorama--homepage .fotorama__nav--dots .fotorama__nav__frame {
    width: 27px; }
  .fotorama--homepage .fotorama__nav {
    /* Lie that the height is equal to zero */
    height: 0;
    /* And restore it using a “back door” */
    padding-top: 60px;
    /* Overlay the stage */
    margin-top: -60px; }
  .fotorama--homepage .fotorama__nav__shaft {
    top: -60px; }

.hero {
  position: relative;
  background: #000;
  background-image: none;
  padding-top: 50px; }
  @media (min-width: 768px) {
    .hero {
      padding-top: 70px;
      height: 100%; }
      .hero div {
        height: 100%; }
      .hero__owl__slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        height: 100%;
        display: block; }
      .hero img,
      .hero .owl-nav,
      .hero .owl-dots {
        display: none !important; } }

/* Film Page */
.film {
  margin-bottom: 15px; }
  .film__item {
    display: block;
    position: relative; }
    .film__item__link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 15px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff !important;
      visibility: hidden;
      opacity: 0; }
      .film__item__link__title {
        margin-top: -15px; }
      .film__item__link--active {
        visibility: visible;
        opacity: 1; }
        .film__item__link--active .film__item__link__title {
          margin-top: 0; }
  .film__title {
    padding: 10px;
    min-height: 55px;
    margin: 0;
    font-size: 16px;
    text-transform: none; }
    .film__title--height {
      min-height: 0; }
  .film__no__thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff; }

.info-img {
  margin-top: 15px; }
  @media (min-width: 768px) {
    .info-img {
      margin-top: 30px; } }

.info-desc {
  margin-top: 35px; }
  .info-desc ul > li {
    display: table-cell; }
  @media (max-width: 767px) {
    .info-desc {
      text-align: center; }
      .info-desc ul > li {
        display: block; } }
  .info-desc h1 {
    letter-spacing: 5px;
    font-weight: 700; }

@media (min-width: 768px) {
  .film-award {
    margin: 60px 0; } }

.film-award .owl-stage {
  margin: 0 auto; }

.films-gallery {
  background: #1c1c1c;
  padding: 25px 0 45px 0; }
  .films-gallery .owl-item {
    margin-right: 0 !important; }
  .films-gallery .owl-stage {
    margin: 0 auto; }
  .films-gallery a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.31);
    width: 100%;
    height: 100%; }
  .films-gallery a:hover:after {
    background: transparent; }
  @media (max-width: 767px) {
    .films-gallery {
      padding: 10px 0 25px 0; } }

.film-quotes, .film-press {
  margin: 50px 0 70px 0; }
  .film-quotes .read-more, .film-press .read-more {
    color: #949494; }
  @media (max-width: 767px) {
    .film-quotes, .film-press {
      margin: 0 0 20px 0; }
      .film-quotes .header-title, .film-press .header-title {
        margin: 10px 0; }
      .film-quotes .h3, .film-quotes h3, .film-press .h3, .film-press h3 {
        font-size: 16px;
        margin-top: 0; } }

#modalPressRelease .modal-content {
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }
  #modalPressRelease .modal-content .content {
    color: #e6e6e6; }

/* About Page */
@media (min-width: 768px) {
  .tba-logo {
    margin-top: 20px; } }

.tba-logo img {
  max-width: 150px; }

.media-block {
  margin-top: 35px; }
  .media-block .media {
    margin-bottom: 40px; }
  .media-block blockquote {
    font-size: 14px; }
  .media-block .media-left img {
    width: 250px; }
  @media (max-width: 767px) {
    .media-block .media-left,
    .media-block .media-left {
      display: block;
      margin-left: 25px; } }

/* About Page */
#mapContact {
  height: 500px;
  width: 100%; }
  @media (max-width: 767px) {
    #mapContact {
      height: 300px; } }

.contact-info {
  margin-bottom: 100px; }
  .contact-info .form-control {
    border-width: 2px;
    border-color: #333; }
  .contact-info-details {
    margin-bottom: 30px;
    max-width: 375px; }
    .contact-info-details .b-left-3 {
      border-left: 3px solid #ddd; }
    @media (min-width: 768px) {
      .contact-info-details {
        max-width: 600px; } }

/* Trailers Page */
.trailers-page {
  background-color: #1c1c1c; }
  .trailers-page .film-categ__item__link {
    color: #949494;
    border-color: #5d5d5d; }
    .trailers-page .film-categ__item__link--active {
      color: #fff !important; }
  .trailers-page .footer {
    margin-top: 50px; }

.trailer {
  position: relative;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .trailer__block {
    display: block;
    overflow: hidden; }
    .trailer__block__play {
      -ms-transform: scale(0.8, 0.8);
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8); }
  .trailer:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

#modalTrailer .modal-header {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.34); }

#modalTrailer .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

#modalTrailer .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block; }

#modalTrailer .modal-content {
  background: rgba(0, 0, 0, 0.49); }

#modalTrailer h4 {
  color: #fff;
  font-family: 'Calibri'; }

#modalTrailer .close {
  opacity: .8;
  color: #fff;
  padding: 5px 0;
  font-size: 28px; }
  #modalTrailer .close:hover {
    opacity: 1; }

@media (min-width: 768px) {
  #modalTrailer,
  #modalDvd {
    text-align: center;
    padding: 0 !important; }
    #modalTrailer:before,
    #modalDvd:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px; }
    #modalTrailer .modal-dialog,
    #modalDvd .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle; } }

/* DVD Page */
#modalDvd .modal-header {
  border-bottom: 0; }

#modalDvd .modal-content {
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff; }

#modalDvd .close {
  opacity: 1;
  color: #fff;
  font-size: 40px; }
  @media (min-width: 768px) {
    #modalDvd .close {
      right: -50px;
      top: 0;
      position: absolute; } }

/* DVD Page */
.dvd-page {
  margin-bottom: 50px; }
  .dvd-page .film-categ {
    margin-bottom: 70px; }

.dvd a {
  display: block; }

.dvd__title {
  min-height: 75px;
  margin-top: 10px;
  font-size: 16px; }
  .dvd__title h3 {
    color: #333;
    font-weight: bold;
    font-size: 18px; }

.dvd__cd {
  padding-top: 100px; }

.dvd__content h3 {
  margin-bottom: 0;
  border-bottom: 2px solid #ddd;
  display: inline-block; }

.dvd__content ul {
  color: #ccc;
  margin-bottom: 5px; }

@media (min-width: 992px) {
  .dvd__content {
    padding-top: 85px; } }

@media (max-width: 991px) {
  .dvd__content {
    text-align: center; } }

@media (max-width: 412px) {
  .dvd__cd {
    padding-top: 50px; } }
