@font-face {
    font-family: 'Calibri-BoldItalic';
    src: url("../fonts/calibri/Calibri-BoldItalic.eot");
    src: url("../fonts/calibri/Calibri-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/calibri/Calibri-BoldItalic.woff") format("woff"), url("../fonts/calibri/Calibri-BoldItalic.ttf") format("truetype"), url("../fonts/calibri/Calibri-BoldItalic.svg#Calibri-BoldItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url("../fonts/calibri/Calibri-Bold.eot");
    src: url("../fonts/calibri/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri-Bold.woff2") format("woff2"), url("../fonts/calibri/Calibri-Bold.woff") format("woff"), url("../fonts/calibri/Calibri-Bold.ttf") format("truetype"), url("../fonts/calibri/Calibri-Bold.svg#Calibri-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri-Italic';
    src: url("../fonts/calibri/Calibri-Italic.eot");
    src: url("../fonts/calibri/Calibri-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri-Italic.woff2") format("woff2"), url("../fonts/calibri/Calibri-Italic.woff") format("woff"), url("../fonts/calibri/Calibri-Italic.ttf") format("truetype"), url("../fonts/calibri/Calibri-Italic.svg#Calibri-Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url("../fonts/calibri/Calibri.eot");
    src: url("../fonts/calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri/Calibri.woff2") format("woff2"), url("../fonts/calibri/Calibri.woff") format("woff"), url("../fonts/calibri/Calibri.ttf") format("truetype"), url("../fonts/calibri/Calibri.svg#Calibri") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutraText-BoldItalic';
    src: url("../fonts/neutra/NeutraText-BoldItalic.eot");
    src: url("../fonts/neutra/NeutraText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-BoldItalic.woff2") format("woff2"), url("../fonts/neutra/NeutraText-BoldItalic.woff") format("woff"), url("../fonts/neutra/NeutraText-BoldItalic.ttf") format("truetype"), url("../fonts/neutra/NeutraText-BoldItalic.svg#NeutraText-BoldItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutraText-Book';
    src: url("../fonts/neutra/NeutraText-Book.eot");
    src: url("../fonts/neutra/NeutraText-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-Book.woff2") format("woff2"), url("../fonts/neutra/NeutraText-Book.woff") format("woff"), url("../fonts/neutra/NeutraText-Book.ttf") format("truetype"), url("../fonts/neutra/NeutraText-Book.svg#NeutraText-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutraText-BookItalic';
    src: url("../fonts/neutra/NeutraText-BookItalic.eot");
    src: url("../fonts/neutra/NeutraText-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-BookItalic.woff2") format("woff2"), url("../fonts/neutra/NeutraText-BookItalic.woff") format("woff"), url("../fonts/neutra/NeutraText-BookItalic.ttf") format("truetype"), url("../fonts/neutra/NeutraText-BookItalic.svg#NeutraText-BookItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutraText-Demi';
    src: url("../fonts/neutra/NeutraText-Demi.eot");
    src: url("../fonts/neutra/NeutraText-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-Demi.woff2") format("woff2"), url("../fonts/neutra/NeutraText-Demi.woff") format("woff"), url("../fonts/neutra/NeutraText-Demi.ttf") format("truetype"), url("../fonts/neutra/NeutraText-Demi.svg#NeutraText-Demi") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutraText-DemiItalic';
    src: url("../fonts/neutra/NeutraText-DemiItalic.eot");
    src: url("../fonts/neutra/NeutraText-DemiItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraText-DemiItalic.woff2") format("woff2"), url("../fonts/neutra/NeutraText-DemiItalic.woff") format("woff"), url("../fonts/neutra/NeutraText-DemiItalic.ttf") format("truetype"), url("../fonts/neutra/NeutraText-DemiItalic.svg#NeutraText-DemiItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutraTextTF-Bold';
    src: url("../fonts/neutra/NeutraTextTF-Bold.eot");
    src: url("../fonts/neutra/NeutraTextTF-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/neutra/NeutraTextTF-Bold.woff2") format("woff2"), url("../fonts/neutra/NeutraTextTF-Bold.woff") format("woff"), url("../fonts/neutra/NeutraTextTF-Bold.ttf") format("truetype"), url("../fonts/neutra/NeutraTextTF-Bold.svg#NeutraTextTF-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
