/* 
========================================================
Center vertical */

.va-block {
    display: table;
    height: 100%;
    width: 100%;
}

.va-middle,
.va-bottom {
    display: table-cell;
}

.va-middle {
    vertical-align: middle;
}

.va-bottom {
    vertical-align: bottom;
}


/* 
========================================================
Padding helpers */

@for $i from 0 through 6 {
    .p-a-#{$i * 1} {
        padding: #{($i * 5) + 'px'} !important;
    }
    .p-t-#{$i * 1} {
        padding-top: #{($i * 5) + 'px'} !important;
    }
    .p-r-#{$i * 1} {
        padding-right: #{($i * 5) + 'px'} !important;
    }
    .p-b-#{$i * 1} {
        padding-bottom: #{($i * 5) + 'px'} !important;
    }
    .p-l-#{$i * 1} {
        padding-left: #{($i * 5) + 'px'} !important;
    }
    .p-x-#{$i * 1} {
        padding-left: #{($i * 5) + 'px'} !important;
        padding-right: #{($i * 5) + 'px'} !important;
    }
    .p-y-#{$i * 1} {
        padding-top: #{($i * 5) + 'px'} !important;
        padding-bottom: #{($i * 5) + 'px'} !important;
    }
}

/* 
========================================================
Margin helpers*/

@for $i from 0 through 6 {
    .m-a-#{$i * 1} {
        margin: #{($i * 5) + 'px'} !important;
    }
    .m-t-#{$i * 1} {
        margin-top: #{($i * 5) + 'px'} !important;
    }
    .m-r-#{$i * 1} {
        margin-right: #{($i * 5) + 'px'} !important;
    }
    .m-b-#{$i * 1} {
        margin-bottom: #{($i * 5) + 'px'} !important;
    }
    .m-l-#{$i * 1} {
        margin-left: #{($i * 5) + 'px'} !important;
    }
    .m-x-#{$i * 1} {
        margin-left: #{($i * 5) + 'px'} !important;
        margin-right: #{($i * 5) + 'px'} !important;
    }
    .m-y-#{$i * 1} {
        margin-top: #{($i * 5) + 'px'} !important;
        margin-bottom: #{($i * 5) + 'px'} !important;
    }
}


.w-100{
	width: 100%;
}

/* 
========================================================
Font family*/

.text-calibri{
    font-family: 'Calibri';
}
.text-NeutraTextTF{
    font-family: 'NeutraTextTF-Bold';
}
/* 
========================================================
btn */

.btn-default{
    color: #000;
    &--border{
        border: 2px solid #333;
        font-size: 22px;
    }

    &__black{
        background-color: #333;
        border-color: #333;
        color: #fff;
    }
}

.play-icon{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    background: url(../../assets/img/play-icon.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .4s ease;
}

.social-icon{
    a{
        width: 36px;
        height: 36px;
        line-height: 36px;
        background: #666;
        color: #fff;
        border-radius: 50%;
        display: inline-block;

        &:hover{
            background-color: #777;
        }
    }
}

.col-xss-12{
    @media (max-width: 470px){
        width: 100%;
    }
}

.row-gap{
    margin-left: -7px;
    margin-right: -7px;
}
.col-gap{
    padding-left: 7px;
    padding-right: 7px;
}


.btn-default-black{
    width: 140px;
    background-color: #000 !important;
    color: #fff !important;

    &:hover{
        opacity: .8;
    }
}


.thin-line{
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        height: 1px;
        width: 50px;
        background: #333;
    }
}