.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #1c1c1c;

    .navbar-brand{
    	padding: 10px 15px;
    	>img{
    		height: 30px;;
    	}
    }

	@media (min-width: $md){
    	min-height: $navbarHeight;
	    .navbar-brand{
	    	padding: 20px;
    		height: $navbarHeight;
	    	>img{
	    		height: $navbarHeight - 40;	
	    	}
	    }
    }
    a{
        text-transform: uppercase;
    }

    @media (max-width: $md - 1){
        background-color: rgba(28, 28, 28, 0.82);
        .navbar-nav>li>a {
            font-weight: bold;
            color: #ddd;
        }
    }
}