/* Set Default */
main{
	padding-top: $navbarHeight + 30;
	@media (max-width: $md - 1){
		padding-top: $navbarHeight;
	}
}

#modalTrailer .modal-lg {
	@media (min-width: 992px){
	     width: 1170px;
	 }
}
.film-categ{
	padding-top: 20px;
	&__list{
		
	}
	&__item{
		&__link{
			color: #adadad;
			font-size: 20px;
			border-right: 1px solid #ddd;
			padding-right: 20px;
			&--active{
				color: #333 !important;
				font-weight: bold;
			}
			&:not(&--active):hover{
				color: #d3b764 !important;
			}
		}
		&:nth-child(3) &__link{
			border-right: 0;
		}
	}
}

.film-trailers-owl{
	&__item{
		position: relative;
		display: block;

		&__play{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.play-icon{
				margin-top: 150px;

				@media (max-width: 991px){
					margin-top: 120px;
				    -ms-transform: scale(0.8,0.8);
				    transform: scale(0.8,0.8);	
				}

				@media (max-width: 480px){
					margin-top: 70px;
				    -ms-transform: scale(0.5,0.5);
				    transform: scale(0.5,0.5);	
				}
			}

			&:hover, &:active, &:focus{
				@media (min-width: 480px){
					.play-icon{
					    -ms-transform: scale(1.3,1.3);
					    transform: scale(1.3,1.3);	
					}
				}
			}
		}
	}
}


/* End Set Default */

.header-title{
	text-align: center;
	margin-bottom: 15px;
	&__tag{
		display: inline-block;
		font-family: 'NeutraText-Demi';
	    letter-spacing: 5px;
	    font-size: 26px;
	    background: #e0cd96;
	    background: -moz-linear-gradient(left, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
	    background: -webkit-linear-gradient(left, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
	    background: -webkit-gradient(linear, left top, right top, from(#e0cd96), color-stop(50%, #a78230), to(#e0cd96));
	    background: -o-linear-gradient(left, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
	    background: linear-gradient(to right, #e0cd96 0%, #a78230 50%, #e0cd96 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0cd96', endColorstr='#e0cd96',GradientType=1 );
	    background-clip: text;
	    -o-background-clip: text;
	    -ms-background-clip: text;
	    -moz-background-clip: text;
	    -webkit-background-clip: text;
	    text-fill-color: transparent;
	    -o-text-fill-color: transparent;
	    -ms-text-fill-color: transparent;
	    -moz-text-fill-color: transparent;
	    -webkit-text-fill-color: transparent;
		
		@media (min-width: $md + 1){
		    &:before, &:after {
			    content: "";
			    display: block;
			    height: 30px;
			    position: relative;
			    top: -3px;
			}

			&:before {
			    background: url(../../assets/img/left-arrow-title.png) no-repeat 0px 8px;
			    background-size: 180px 18px;
			    width: 180px;
			    float: left;
			    left: -12px;
			}
			&:after {
			    background: url(../../assets/img/right-arrow-title.png) no-repeat 0px 8px;
			    background-size: 180px 18px;
			    width: 180px;
			    float: right;
			    right: -12px;
			}
		}
		img{
		    width: 180px;
		    position: relative;
		    top: -3px;
		    margin:0 15px;
			@media (max-width: $lg - 1){
				width: 140px;
			}
			@media (max-width: $md - 1){
				display: none;
			}
		}
		&--no-feather{
			&:before, &:after {
				content: none;
			}
		}
	}
	@media (min-width: $md){
		margin: 30px 0;
	}
}

/* Homepage */


.fotorama{
	&--homepage{
		@media (max-width: $md - 1){
			//padding-top: $navbarHeight;
			padding-top: 50px;
		}
		.fotorama__wrap--video .fotorama__video-close {
		    background: url(../../assets/img/fotorama-close.png) no-repeat;
		    top: 85px;
		    right: 30px;
		    width: 70px;
		    height: 70px;
		    -webkit-transform: scale(0.6, 0.6);
		    transform: scale(0.6, 0.6);

			@media (max-width: 412px){
		    	top: 50px;
			    -webkit-transform: scale(0.3, 0.3);
			    transform: scale(0.3, 0.3);
			}
		}

        background: #1c1c1c;
        .fotorama__dot {
            width: 14px !important;
            height: 14px !important;
            border-radius: 100% !important;
            border-color: #fff;
            border-width: 2px;
        }
        .fotorama__nav__frame.fotorama__active .fotorama__dot{
            background: #fff;
        }
        .fotorama__nav--dots .fotorama__nav__frame{
            width: 27px;
        }
        .fotorama__nav {
          /* Lie that the height is equal to zero */
          height: 0;
          /* And restore it using a “back door” */
          padding-top: 60px;
          /* Overlay the stage */
          margin-top: -60px;
        }
        .fotorama__nav__shaft {
          top: -60px;
        }
	}
}

.hero{
	position: relative;
	background: #000;
	background-image:none;
	padding-top: 50px;

	@media (min-width: $md){
		padding-top: $navbarHeight;
		height: 100%;
		div{
			height: 100%;
		}

		&__owl{
			&__slide {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top center;
				height: 100%;
				display: block;
			}
		}

		img, 
		.owl-nav,
		.owl-dots{
			display: none !important;
		}
	}
}

/* Film Page */

.film{
	margin-bottom: 15px;

	&__item{
		display: block;
		position: relative;
	
		&__link{
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100%;
		    padding: 15px;
		    background: rgba(0, 0, 0, 0.5);
		    color: #fff !important;
		    visibility: hidden;
		    opacity: 0;

		    &__title{
		    	margin-top: -15px;
		    }
		    
			&--active{
			    visibility: visible;
			    opacity: 1;

			    .film__item__link__title{
		    		margin-top: 0;
			    }
			}
		}
	}
	&__title{
	    padding: 10px;
	    min-height: 55px;
	    margin: 0;
	    font-size: 16px;
    	text-transform: none;

    	&--height{
	    	min-height: 0;
    	}
	}

	&__no__thumb{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		color: #fff;
	}
}

.info-img{
	margin-top: 15px;
	@media (min-width: $md){
		margin-top: 30px;
	}
}
.info-desc{
	margin-top: 35px;
	ul>li{
    	display: table-cell;
	}
	@media (max-width: $md - 1){
		text-align: center;
		ul>li{
			display: block;
		}
	}
	h1{
		letter-spacing: 5px;
		font-weight: 700;
	}
}

.film-award{
	@media (min-width: $md){
		margin: 60px 0;
	}
    .owl-stage{
    	margin: 0 auto;
    }
}

.films-gallery{
    background: #1c1c1c;
    padding: 25px 0 45px 0;
    .owl-item{
    	margin-right: 0 !important;
    }
    .owl-stage{
    	margin: 0 auto;
    }
	a{
		&:after {
		    content: "";
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    background: rgba(0, 0, 0, 0.31);
		    width: 100%;
		    height: 100%;
		    @extend .t-ease;
		}
		&:hover:after {
		    background: transparent;
		}
	}
	@media (max-width: $md - 1){
    	padding: 10px 0 25px 0;
	}
}
.film-quotes, .film-press{
	margin: 50px 0 70px 0;
	.read-more{
		color: #949494;
	}
	@media (max-width: $md - 1){
		margin: 0 0 20px 0;
		.header-title{
			margin: 10px 0;
		}
		.h3, h3{
			font-size: 16px;
			margin-top: 0;
		}
	}
}

#modalPressRelease{
	.modal-content{
	    // background: rgba(0, 0, 0, 0.7);
	    // color: #fff;
	    // .content{
	    // 	color: #e6e6e6;
	    // }
    	border: 0;
	    background: #ffffff;
	    color: #333;
	    .content{
	    	color: #333;
	    }
	}
}

/* About Page */

.tba-logo{
	@media (min-width: $md){
		margin-top: 20px;
	}
	img{
		max-width: 150px;
	}
}
.media-block{
	margin-top: 35px;
	.media{
		margin-bottom: 40px;
	}
	blockquote{
		font-size: 14px;
	}
	.media-left img{
		width: 250px;
	}
	@media (max-width: $md - 1){
		.media-left,
		.media-left{
			display: block;
			margin-left: 25px;
		}
	}
}

/* About Page */
#mapContact{
	height: 500px;
	width: 100%;
	@media (max-width: $md - 1){
		height: 300px;
	}
}
.contact-info{
	margin-bottom: 100px;
	.form-control{
		border-width: 2px;
		border-color: #333;
	}
	&-details{
		margin-bottom: 30px;
		max-width: 375px;
		.b-left-3{
			border-left: 3px solid #ddd;
		}
		@media (min-width: $md){
			max-width: 600px;
		}
	}
}

/* Trailers Page */

.trailers-page{
	background-color: #1c1c1c;
	.film-categ{
		&__item{
			&__link{
				color: #949494;
				border-color: #5d5d5d;
				&--active{
					color: #fff !important;
				}
			}
		}
	}
	.footer{
		margin-top: 50px;
	}
}

.trailer{
	position: relative;
	margin-bottom: 25px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	&__block{
		display: block;
		overflow: hidden;

		@extend .film-trailers-owl__item;

		&__play{
			@extend .film-trailers-owl__item__play;

		    -ms-transform: scale(0.8, 0.8);
		    -webkit-transform: scale(0.8, 0.8);
		    transform: scale(0.8, 0.8);
		}
	}
	&:hover img{
	  -moz-transform: scale(1.1);
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
}

#modalTrailer{
	.modal-header {
	    padding: 5px 15px;
	    border-bottom: 1px solid rgba(229, 229, 229, 0.34);
	}
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	    margin: 0 auto;
	    display: block;
	}
	.modal-content{
	    background: rgba(0, 0, 0, 0.49);
	}
	h4{
		color: #fff;
		font-family: 'Calibri'
	}
	.close{
		opacity: .8;
	    color: #fff;
	    padding: 5px 0;
	    font-size: 28px;
	    &:hover{
	    	opacity: 1;
	    }
	}
}

#modalTrailer,
#modalDvd{
	@media (min-width: $md){
	    text-align: center;
	    padding: 0!important;
		&:before {
		    content: '';
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		    margin-right: -4px;
		}
		.modal-dialog {
		    display: inline-block;
		    text-align: left;
		    vertical-align: middle;
		}
	}
}

/* DVD Page */
#modalDvd{
	.modal-header {
		border-bottom: 0;
	}
	.modal-content{
	    background: rgba(0, 0, 0, 0.80);
	    box-shadow: none;
	    color: #fff;
	}
	.close{
	    opacity: 1;
	    color: #fff;
	    font-size: 40px;

		@media (min-width: $md){
		    right: -50px;
		    top: 0;
		    position: absolute;
		}
	}
}

/* DVD Page */

.dvd-page {
	margin-bottom: 50px;
	.film-categ{
		margin-bottom: 70px;
	}
}
.dvd{
	a{
		display: block;
	}
	&__title{
	    min-height: 75px;
	    margin-top: 10px;
		font-size: 16px;
	    h3{
			color: #333;
			font-weight: bold;
			font-size: 18px;
	    }
	}
	&__cd{
    	padding-top: 100px;
	}
	&__content{
		h3{
			margin-bottom: 0;
		    border-bottom: 2px solid #ddd;
		    display: inline-block;
		}
		ul{
			color: #ccc;
			margin-bottom: 5px;
		}

		@media (min-width: $lg){
			padding-top: 85px;
		}
	}

	@media (max-width: $lg - 1){
		&__content{
			text-align: center;
		}
	}

	@media (max-width: 412px){
		&__cd{
	    	padding-top: 50px;
		}
	}
}